{% extends 'base.html' %}
{% load static %}


{% block content %}
<section>
    <article>
        <div class="row">
            <div class="column">
                {% if not bookings %}
                <div>No Reservations</div>
                {% else %}
                <h1>All Reservations</h1>
                <pre id="bookings">

                </pre>
                {% endif %}
            </div>
        </div>
    </article>

</section>

<script>
    var bookings = JSON.parse('{{ bookings|safe }}');
    const pretty_json = JSON.stringify(bookings, null, 2)
    document.getElementById("bookings").innerHTML = pretty_json;
</script>

{% endblock content %}